{% extends "BLOG/base.html" %}
{% load bootstrap3 %}
{% block header %}
  <h2>创建新的博客</h2>
{% endblock header %}

{% block content %}
{# 设置特定标签下的字体属性 css可以调整样式，颜色，大小，加粗等常规操作 #}
  <style type="text/css">
    form {font-family: 微软雅黑;font-size:large; }
  </style>
  <form action="{%url 'BLOG:add_blog' %}" method="post" class="form" font>
    {% csrf_token %}
    {% bootstrap_form titleform%}
    {%buttons%}
    <button name='submit' class="btn btn-primary"> 提交博客 </button>
    {%endbuttons%}
  </form>
  
{% endblock content %}