{% extends "BLOG/base.html" %}
{% load threadedcomments_tags %}



{% block content %}
    <div class="row">
      <main class="col-md-8">  
        <h2>{{blog.title}}</h2>
          <p class="lead">由{{blog.owner}}</p>  
        {% get_comment_count for blog as comment_count %}
        <p><i class="fa fa-clock-o fa-fw"></i>发布于{{ blog.date_added }} 
          阅读:  {{blog.views}}，评论数： {{ comment_count }} </p>
        <hr>
        <div class="entry-content clearfix">
            <p>{{blog.text|safe|linebreaks}}</p>
        </div>
        <hr>
        <script>
          jQuery(function($) {
              $.fn.ready(function() {
                $('#btn_reward').click(function(){
                $('#reward_board').addClass('hidden');
                $('#reward_guide').removeClass('hidden');
              });
                  {% if user.is_authenticated %}
                  setAuthenticatedUser(
                          '{{ user.get_full_name|default:request.user.get_username }}'+'(博主)',
                          '{{ user.email }}',
                          '{{ user.url }}'
                  );
                  {% endif %}
              });
          });
        </script>
        {% render_comment_list for blog %}
        {% render_comment_form for blog %}
      </main> <!--end-col-md-8-->
      
      <aside class="col-md-4">
        <section>
          <h3>文章目录</h3>
            <big>{{ blog.toc|safe}}</big>
        </section>
      </aside><!--end-col-md-4-->
    </div>
{% endblock content %}
